.top-header {
  background-color: #523636;
  color: white;
  padding: 5px 10px 15px 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.top-header a {
  color: white;
}

.top-header .header__top,
.top-header .header__bottom {
  display: flex;
  justify-content: space-between;
}

.top-header .header__top {
  margin-bottom: 15px;
  font-size: 13px;
}

.top-header .header__bottom {
  margin: 0 10px;
}

.top-header .header__top-line,
.top-header .header__bottom-line {
  width: 33%;
}

.top-header .header__bottom-line:first-child {
  color: rgba(255, 255, 255, 0.5);
}

.top-header .header__top-line:last-child,
.top-header .header__bottom-line:last-child {
  text-align: right;
}

.top-header .header__top-line:nth-child(2),
.top-header .header__bottom-line:nth-child(2) {
  text-align: center;
}

.top-header .header__bottom--number {
  color: yellow;
}
